/* Main styles for page */

:root {
	--accent-color: #E50815;
	--rating-star-color: #FFDF00;
    --text-color: whitesmoke;
    --background-color: #1F1F1F;
	--secondary-background-color: #2A2A2A;
	--input-background-color: #333;
	--border-color: rgb(105, 104, 104);
    --box-shadow-color: rgba(41, 157, 202, 0.2);
    --box-shadow: 0 8px 16px rgba(41, 157, 202, 0.2);
	--border-radius: 16px;
}


body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Helvetica, sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 2em;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	color: rgba(255, 68, 0, 0.814);
	color: var(--accent-color)
}

form,
#sort-filter-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: var(--secondary-background-color);
	width: 80vw;
	gap: 1em;
}

#add-movie-form,
#edit-movie-form,
#sort-filter-container {
	padding: 1em;
}

#add-movie-form > * {
	flex-basis: 30%;
}
div {
	text-align: left;
}

input,
select,
button,
.ratings {
	border: 0px solid transparent;
	border-radius: 4px;
	padding: 0.5em;
	background-color: var(--input-background-color);
	color: var(--text-color);
	accent-color: var(--border-color);
}

input,
select {
	width: 100%;
	border: 1px solid rgb(105, 104, 104);
}

input[type="radio"] {
	display: none;
}
select {
	padding: 0.5em;
	padding-right: 10px;
}


span {
	white-space: nowrap;
}


.ratings {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	align-items: center;
}

.rating-star {
	color: gray;
	padding: 0px 5px;
	flex-grow: 1;
	text-align: center;
	border: 2px solid transparent;
	user-select: none;
}
.rating-star:hover,
.rating-star:hover ~ .rating-star {
	transform: scale(1.2);
	transition: transform 0.1s ease-in-out;
	color: var(--rating-star-color);
	cursor: pointer;
}
.rating-star:hover {
	border: 2px solid green;
	border-radius: var(--border-radius);
}
.rating-star:active {
	transform: scale(0.95);
	border: 2px solid green;
	box-shadow: var(--box-shadow);
}
input[type=radio]:checked ~ .rating-star {
	color: var(--rating-star-color);
}

.movie-rating {
	color: var(--rating-star-color);
}

.add-movie-button {
	font-weight: bold;
	background-color: var(--accent-color);
	cursor: pointer;
	flex-grow: 1;
}
label {
	text-align: left;
}

.add-movie-button:hover,
.save-changes-button:hover {
	background-color: var(--accent-color);
	color: var(--text-color);
}

.add-movie-button:active,
.save-changes-button:active {
	color: black;
	transform: scale(0.95);
}

.movie-card {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-basis: 15%;
}

.movie-card > * {
	text-align: center;
	flex-basis: 30px;
}

.card-button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.watched {
	background-color: rgb(34, 46, 50);
	opacity: 0.5;
}
.watched .movie-title {
	text-decoration: line-through;
	color: var(--text-color);
}

.movie-card button {
	padding: 0px;
	width: 30px;
	height: 30px;
	box-shadow: inset var(--box-shadow);
	border-radius: 50%;
}

.movie-card button:hover {
	transform: scale(1.1);
}
.movie-card button:hover:active {
	transform: scale(0.9);
	box-shadow: var(--box-shadow);
}

.movie-genre {
	font-size: 0.8em;
	border-radius: 80px;
	background-color: var(--accent-color);
	padding: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

dialog {
	background-color: var(--secondary-background-color);
	border-radius: var(--border-radius);
	margin: auto auto;
	border: none;
	color: var(--text-color);
	min-width: 50vw;
    box-shadow: 0 0 50px #121212;
}
 
dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

#edit-movie-form {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 10px;
	width: 50vw;
}

#sort-filter-container {
	padding: 1em;
}

.wishlist-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	width: 80vw;
}

.dialog-button-container {
	margin-left: auto;
}
.save-changes-button {
	color: black;
	background-color: #56D364;
}
#sort-container label {
	padding: 0.5em 1em;
	border: 1px solid var(--border-color);
}